{% extends 'base/layout.html' %}
{% load static %}
{% block userdefined %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/home/">HOME<span class="sr-only">(current)</span></a>
                </div>
                </li>
                
                   
                  </div>
                </div>
              </nav>
<div class="container mt-3">
  <h2>Developers Details</h2>
  <p><b> Members you can contact for further details: </b></p>

  <div class="media border p-3">
    <img src="/static/img/new.png" alt="Sai" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>Akshit Rachure</h4>
       <p>Back End Developer</p> 
      <p>  Expert in Web Development and Artificial Intelligence</p> 
      <p>Mobile NO:8296668513</p> 
      <p>EmailID : rachureakshit1899@gmail.com</p> 
      <a href="https://www.linkedin.com/in/akshit-rachure-5a333b178"><img src="/static/img/link.png" alt="akshit" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
      <a href="https://www.instagram.com/akshit_rachure/"><img src="/static/img/insta.jpg" alt="akshit" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a> 
      
    </div>
  </div>
  <div class="media border p-3">
        <img src="/static/img/new.png" alt="Sai Krishna" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Sai Krishna</h4>
        <p> Database Engineer</p> 
      <p>   Expert in: Python and Machine learning,Django</p> 
          <p>Mobile NO:9611149957</p>   
          <p>EmailID : saikrishna96111@gmail.com</p>  
          <a href="https://www.linkedin.com/in/sai-krishna-08abbb16a/"><img src="/static/img/link.png" alt="sai" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
          <a href="https://www.facebook.com/sk.creations.saikrish"><img src="/static/img/fb1.jpg" alt="sai" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
          <a href="https://www.instagram.com/diccchh323/"><img src="/static/img/insta.jpg" alt="sai" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a> 
        </div>
      </div>
      <div class="media border p-3">
            <img src="/static/img/new.png" alt="Arun P N " class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
              <h4>Arun P N </h4>
            <p>  BackEnd Developer ,API Generator </p> 
          <p>   Expert In : All Frameworks, API and ORM </p> 
              <p>Mobile NO:8660397320</p>    
              <p>EmailID : arunpn866@gmail.com</p>
              <a href="https://www.facebook.com/arun.pn.501?ref=bookmarks"><img src="/static/img/fb1.jpg" alt="arun" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
              <a href="https://www.linkedin.com/in/arun-p-n-a65323180/"><img src="/static/img/link.png" alt="arun" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a> 
              <a href="https://www.instagram.com/arun.p.nagaraj/"><img src="/static/img/insta.jpg" alt="arun" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
            </div>
          </div>
          <div class="media border p-3">
                <img src="/static/img/new.png" alt="Amogh J P" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                  <h4>Amogh J P</h4>
                  <p> Front End Developer </p>
                  <p>Major work in HTML,CSS,Bootstrap</p>  
                  <p>Expert in : Editing and Designing</p>
                  <p>Mobile NO:9686276345</p> 
                  <p>EmailID : amoghjp0207@gmail.com</p>
                  <a href="https://www.facebook.com/amogh.puthanikar"><img src="/static/img/fb1.jpg" alt="amoghjp" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
                  <a href="https://www.instagram.com/amoghjp/"><img src="/static/img/insta.jpg" alt="amoghjp" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a> 
                </div>
              </div>
              <div class="media border p-3">
                    <img src="/static/img/new.png" alt="Abhishek B B" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h4>Abhishek B B</h4>
                     <p> Front End Developer</p>
                      <p>Major work in Both Front end and Back end Development </p>  
                      <p>Expert in : HTML,CSS,BOOTSTRAP,PYTHON AND ANDROID Development</p>
                      <p>Mobile NO:7019241461</p>
                      <P>Email ID : abhishekacceptance@gmail.com</P> 
                      <a href="https://www.facebook.com/B.ABHISHEK.ABHI.18"><img src="/static/img/fb1.jpg" alt="" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>  
                      <a href="https://www.instagram.com/abhishek_acceptance/"><img src="/static/img/insta.jpg" alt="" class="mr-3 mt-3 rounded-circle" style="width:60px;"> </a>    
                    </div>
                  </div>
</div>

      <p> <center > <b> <h5> *Thanks for visiting this site * </h5> </b></center> </p>
      <br>
  </div>
     
    </div>
  </div>
</nav>
{% endblock %}